@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  /* colors */
  --color-pale-gray: #eeeff3;
  --color-warm-white: #fafafa;
  --color-antique-ruby: #8a1d35;
  --color-blood-red: #600000;
  --color-indian-red: #D05B5B;
  --color-desire: #e83557;
  --color-raisin-black: #202124;
  --color-metalic-pink: #e4b4be;
  /* font */
  --font-open-sans: "Open Sans", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  /* breakpoints */
  --breakpoint-laptop: 1536px;
  --breakpoint-desktop: 1920px;
  /* box-shadow */
  --inset-shadow-log: inset blue 0px 5px 15px; 
}